@import "tailwindcss";

@layer components{
    .list{}
    .list:hover{
        @apply rounded-full bg-gray-900
    }
    .undr{
        @apply relative
    }
    .undr::after{
        content: " ";
        @apply absolute h-1 w-full bg-blue-800 left-0 -bottom-4
    }
    
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar{
    
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
