@import "tailwindcss";

@layer components{
    .list{}
    .list:hover{
        @apply rounded-full bg-gray-900
    }
    .undr{
        @apply relative
    }
    .undr::after{
        content: " ";
        @apply absolute h-1 w-full bg-blue-800 left-0 -bottom-4
    }
    .content::-webkit-scrollbar{
      display: none;
    }
    .end{
        align-self: flex-end;
    }
    
}

@layer utilities{
    .end{
        align-self: flex-end;
    }
    
}
