<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Brand </th>
            <th>Type </th>
            <th>Benefit</th>
            <th>Disadvantage</th>
        </tr>
        <tr>
            <td><%= brand  %></td>
            <td><%= type %></td>
            <td><%= benfit %></td>
            <td><%= dis %></td>
        </tr>
    </table>
</body>
</html>